@page
@model OdeToFood.Pages.ListModel
@{
    ViewData["Title"] = "List";
}


<h2>List</h2>
<form  method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"   />
            <span class="input-group-btn">
                <button class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>

</form>


<table class="table">
        @foreach (var rest in Model.Restaurants)
        {
    <tr>
        <td>@rest.Nombre</td>
        <td>@rest.Ubicacion</td>
        <td>@rest.Cocina</td>
        <td>
            <a class="btn btn-lg" asp-page="./Editar" asp-route-Id="@rest.Id">
               <i class="glyphicon-search"></i>
                @*//<i class="glyphicon glyphicon-edit"></i>*@
            </a>
            <a class="btn btn-lg" asp-page="./Detalles" asp-route-Id="@rest.Id">
                <i class="glyphicon glyphicon-zoom-in"></i>
            </a>
        </td>

    </tr>
        }

</table>
<a asp-page="./Editar" class="btn btn-primary">Nuevo Restaurant</a>
@Model.Message
